﻿
@font-face {
    font-family: 'Droid Naskh Regular';
    src: url('/fonts/droidNaskhRegular/DroidNaskh-Regular.eot');
    src: url('/fonts/droidNaskhRegular/DroidNaskh-Regular.eot?#iefix') format('embedded-opentype');
    src: local('☺'), url('/fonts/droidNaskhRegular/DroidNaskh-Regular.woff') format('woff'), url('/fonts/droidNaskhRegular/DroidNaskh-Regular.ttf') format('truetype'), url('/fonts/droidNaskhRegular/DroidNaskh-Regular.svg#DroidNaskh-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body
{
    font-family: 'Droid Naskh Regular','tahoma',sans-serif;
    font-size: 12px;
    margin: 3px;
    padding: 0px;
    direction:rtl;
    text-align:right;
}
a
{
    color: #191970;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
table
{
    border: 1px solid #909070;
}
thead
{
    background: #eee;
}
div#buttons
{
    margin-bottom: 3px;
}
div#copyright
{
    color: #909070;
    font-size: 9px;
}
div#copyright a
{
    color: #909070;
}
div#copyright #title
{
    color: #800000;
}
.header
{
    border-bottom: 1px solid #909070;
    font-size: 15px;
}
.buttonSml
{
    background-color: #e0dfe3;
    border: solid 1px #000;
    cursor: pointer;
    font-family: Tahoma, "MS Sans Serif";
    font-size: 10px;
}
.button
{
    background-color: #e0dfe3;
    border: solid 1px #000;
    cursor: pointer;
    font-family: Tahoma, "MS Sans Serif";
    width: 75px;
}
.title
{
    display: block;
    font-size: 14px;
    padding-bottom: 3px;
}
/*/////////////////////TABLE STYLES */

table
{
    font-size:12px;
}

.grid table {
    width: 100%;
    /*margin: 5px 1%;*/
}

    .grid table caption {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .grid table td, table th {
        border: 1px solid #aaa;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .grid table tr {
        width: 98%;
        margin: 5px 1%;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
    }

    .grid table tbody tr:nth-child(2n) {
        background: #D5E2EC;
    }

        .grid table tbody tr:nth-child(2n):hover, .grid table tbody tr:nth-child(2n+1):hover {
            background: #FCE9A4;
        }

    .grid table thead tr th {
        background-color: #DBEAF9;
        color: #222;
        border: 1px solid #8a8a8a;
    }
    
    .firtsCellOfRow
    {
        text-align:right !important;
    }
        .firtsCellOfRow > img
    {
        padding:0 5px;
        width:25px;
        height:25px;
        vertical-align: middle;
    }
    
    input[type="submit"], input[type="button"], input[type="reset"], button
{
    background: #A491D5;
    padding: 2px;
    min-width: 50px;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
background: #BBA7E0;
}
input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, button:active {
box-shadow: none;
-webkit-transform: translate(1px,1px);
}

input, textarea, button, select {

-webkit-transition: box-shadow 400ms, background 400ms;
-moz-transition: box-shadow 400ms, background 400ms;
-ms-transition: box-shadow 400ms, background 400ms;
-o-transition: box-shadow 400ms, background 400ms;
transition: box-shadow 400ms, background 400ms;
border: 1px solid #999;
border-radius: 2px;
outline: none;
font-size: 10pt;
}
.noborder
{
    border:0 none;
}

#RightColumn
{
   width:170px;
    text-align:center;
    float:right;
    padding:5px;
    margin-left:7px;
}

#LeftColumn
{
    width:650px;
    height:390px;
    overflow:scroll;
    float:right;
}

#imgPreView
{
    width:166px;
    height:250px;
    border:1px solid #CCC;
    padding:2px;
}

.FileSpan
{
    display:inline-block;
    cursor:pointer;
    padding:2px;
}