﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="AdminPanel.aspx.cs" Inherits="SankaWebAppFramework.Admin.AdminPanel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        
        <%--<a href="/admin/BoardList.aspx">
            <div class="box cpanel-shortcut-box">
                <div class="cpanel-shortcut-image">
                    <img src="/images/usericon.png">
                </div>
                <div class="divider">
                </div>
                <div class="cpanel-shortcut-title">
                    مدیریت هیات ها
                </div>
            </div>
        </a>

        <a href="/Config/GroupUsersList.aspx?gid=17&action=0">
            <div class="box cpanel-shortcut-box">
                <div class="cpanel-shortcut-image">
                    <img src="/images/usericon.png">
                </div>
                <div class="divider">
                </div>
                <div class="cpanel-shortcut-title">
                    مدیریت کاربران ستادی
                </div>
            </div>
        </a>--%>
        <a href="/config/ChangePassword.aspx">
            <div class="box cpanel-shortcut-box">
                <div class="cpanel-shortcut-image">
                    <img src="/images/ChangePass.png">
                </div>
                <div class="divider">
                </div>
                <div class="cpanel-shortcut-title">
                    تغییر کلمه عبور
                </div>
            </div>
        </a>
    </div>
</asp:Content>
