﻿
.a-m-container
{
    display: block;
    overflow: hidden;
    clear:both;
    box-shadow: 0px 0px 10px #CCC;
    background: none repeat scroll 0% 0% #EEE;
}

.a-m-container .item-container
{
    float: right;
    display: inline-block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.a-m-container .item-container:hover
{
    background-color: #ccc;
}

.a-m-container .item-sep
{
    float: right;
    height: 100%;
}

.item-container input, .item-container img, .item-container a, .item-container a img
{
    display: block;
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 0 none;
    cursor: pointer;
    margin: 0 auto;
}

.item-container .item-title
{
    clear: both;
    display: block;
    height: 20px;
    padding: 2px;
}
