﻿@charset "UTF-8";

@font-face {
  font-family: "icon";
  src:url("/fonts/icons/icon.eot");
  src:url("/fonts/icons/icon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icons/icon.woff") format("woff"),
    url("/fonts/icons/icon.ttf") format("truetype"),
    url("/fonts/icons/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "a";
}
.icon-arrow-down:before {
  content: "b";
}
.icon-arrow-right:before {
  content: "c";
}
.icon-arrow-up:before {
  content: "d";
}
.icon-bell:before {
  content: "e";
}
.icon-bell-outline:before {
  content: "f";
}
.icon-briefcase-2:before {
  content: "g";
}
.icon-bookmark:before {
  content: "h";
}
.icon-call-phone-outline:before {
  content: "i";
}
.icon-call-phone:before {
  content: "j";
}
.icon-check-mark-4:before {
  content: "k";
}
.icon-check-mark:before {
  content: "l";
}
.icon-check-mark-circle-outline:before {
  content: "m";
}
.icon-chevron-down:before {
  content: "n";
}
.icon-chevron-left:before {
  content: "o";
}
.icon-chevron-right:before {
  content: "p";
}
.icon-chevron-up:before {
  content: "q";
}
.icon-clipboard:before {
  content: "r";
}
.icon-close-empty:before {
  content: "s";
}
.icon-close-circle:before {
  content: "t";
}
.icon-close-circle-outline:before {
  content: "u";
}
.icon-check-mark-circle:before {
  content: "v";
}
.icon-contact-2:before {
  content: "w";
}
.icon-compose:before {
  content: "x";
}
.icon-copy:before {
  content: "y";
}
.icon-copy-outline:before {
  content: "z";
}
.icon-drag:before {
  content: "A";
}
.icon-document:before {
  content: "B";
}
.icon-exclamation:before {
  content: "C";
}
.icon-exclamation-alert:before {
  content: "D";
}
.icon-file-document-text:before {
  content: "E";
}
.icon-folder-open-2:before {
  content: "F";
}
.icon-folder-open:before {
  content: "G";
}
.icon-gear-cog:before {
  content: "H";
}
.icon-home:before {
  content: "J";
}
.icon-information-small-circle-outline:before {
  content: "K";
}
.icon-information-small-circle:before {
  content: "L";
}
.icon-loop:before {
  content: "M";
}
.icon-log-out:before {
  content: "N";
}
.icon-minus-3:before {
  content: "O";
}
.icon-more-option:before {
  content: "P";
}
.icon-mixer-2:before {
  content: "Q";
}
.icon-navicon:before {
  content: "R";
}
.icon-paper-clip:before {
  content: "S";
}
.icon-pin:before {
  content: "T";
}
.icon-pencil-edit:before {
  content: "U";
}
.icon-plus:before {
  content: "V";
}
.icon-question-circle-outline:before {
  content: "W";
}
.icon-question-circle:before {
  content: "X";
}
.icon-question-circle-1:before {
  content: "Y";
}
.icon-print:before {
  content: "Z";
}
.icon-information-small:before {
  content: "0";
}
.icon-minus-circle-outline:before {
  content: "1";
}
.icon-minus-circle-2:before {
  content: "2";
}
.icon-minus-circle:before {
  content: "3";
}
.icon-information-circle-2:before {
  content: "4";
}
.icon-check-circle:before {
  content: "5";
}
.icon-redo:before {
  content: "6";
}
.icon-refresh:before {
  content: "7";
}
.icon-redo-outline:before {
  content: "8";
}
.icon-reply:before {
  content: "9";
}
.icon-refresh-1:before {
  content: "!";
}
.icon-question-small:before {
  content: "\"";
}
.icon-resize-arrow-up:before {
  content: "#";
}
.icon-resize-arrow-down:before {
  content: "$";
}
.icon-search-outline:before {
  content: "%";
}
.icon-search:before {
  content: "&";
}
.icon-star-outline:before {
  content: "'";
}
.icon-star:before {
  content: "(";
}
.icon-storage:before {
  content: ")";
}
.icon-swap-exchage:before {
  content: "*";
}
.icon-trash-bin:before {
  content: "+";
}
.icon-unlock:before {
  content: ",";
}
.icon-user-circle:before {
  content: "-";
}
.icon-wrench:before {
  content: ".";
}
.icon-calendar:before {
  content: "/";
}
.icon-lock:before {
  content: ":";
}
.icon-letter-mail-1:before {
  content: ";";
}
.icon-graph-bar:before {
  content: "<";
}
.icon-document-text:before {
  content: "=";
}
.icon-document-sans:before {
  content: ">";
}
.icon-arrow-circle-2-down:before {
  content: "?";
}
.icon-arrow-circle-2-left:before {
  content: "@";
}
.icon-arrow-circle-2-right:before {
  content: "[";
}
.icon-arrow-circle-2-up:before {
  content: "]";
}
.icon-certificate-file:before {
  content: "^";
}
.icon-content-34:before {
  content: "_";
}
.icon-key:before {
  content: "`";
}
.icon-bars:before {
  content: "{";
}
.icon-documents7:before {
  content: "}";
}
.icon-accept:before {
  content: "~";
}
.icon-power:before {
  content: "\\";
}
.icon-cog-gear:before {
  content: "|";
}
