﻿
.pn_master
{
    width: 100%;
    overflow: hidden;
    position:relative;
}

.pn_master .pn-loading
{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:100%;
    background-color:#000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.pn_master .pn-loading .inner
{
    position:absolute;
    top:45%;
    left:45%;
    color:#FFF;
}

.pn_master .col
{
    float: right;
    display: inline-block;
}

.pn_master .right
{
    width: 20%;
}

.pn_master .left
{
    width: 80%;
}

.btn-pn-active
{
    background-color: #286090;
    border-color: #204d74;
}
