﻿/*for grid*/

.grid > table > tbody > tr > td:first-child {
    width: 100px;
}

.grid table {
    width: 100%;
    border-collapse: collapse;
}

    .grid table caption {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .grid table td, table th {
        border: 1px solid #aaa;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .grid table tr {
        width: 98%;
        margin: 5px 1%;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
    }

    .grid table tbody tr:nth-child(2n) {
        background: #D5E2EC;
    }

        .grid table tbody tr:nth-child(2n):hover, .grid table tbody tr:nth-child(2n+1):hover {
            background: #FCE9A4;
        }

    .grid table thead tr th {
        background-color: #DBEAF9;
        color: #222;
        border: 1px solid #8a8a8a;
    }
    /*end for grid*/