﻿
.left, .right {
    width: 48%;
    float: right;
    border: 1px solid darkgrey;
}

    .left a, .right a {
        cursor:pointer;
    }

    .left #LeftPanel {
        margin: 5px;
    }

.right {
    margin-left: 2%;
}

    .right #RightPanel {
        margin: 5px;
    }

    .left .title, .right .title {
        background-color: #Ccc;
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }

._5m {
    margin: 5px !important;
}
