﻿
.container
{
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
}

.updatepnl-waiting
{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.updatepnl-waiting .waitimg
{
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
}
