﻿body
{
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

.master
{
    width: 980px;
    margin: 0 auto;
}

._10bm
{
    margin-bottom: 10px;
    overflow: hidden;
}

.displayinline
{
    float: right;
    display: inline;
    width: auto;
}

.leftAlign
{
    text-align: left;
    direction: ltr;
}

/*/////////////////MAIN SECTION > CONTENT-WRAPPER > CONTENT */

/*for paging*/
#PageNoContainer
{
    overflow: hidden;
    margin: 5px auto;
    width: 550px;
}

.PageNo
{
    font-weight: bold;
    padding: 0 5px;
    border: 1px solid #808080;
    margin-left: 5px;
    color: #06b0fb;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.SelectedPageNo
{
    font-weight: bolder;
    color: #FFF;
    background-color: #0d0d0d;
    cursor: default;
}

.SelectedPageNo:hover
{
    color: #FFF;
}
/*end for paging*/