﻿
body
{
    text-align:right;
    direction:rtl;
}

label
{
    float: right;
    display: inline-block;
    margin-left:5px;
}

input
{
    float:right;
}

.rptitem
{
    float:right;
    overflow:hidden;
    width:245px;
}

._10bm
{
    margin-bottom: 10px;
    overflow: hidden;
}