﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Board/report/Report.Master" AutoEventWireup="true"
    CodeBehind="VoteQuantityOfBoard_No8.aspx.cs" Inherits="SankaWebAppFramework.Board.report.VoteQuantityOfBoard_No8" %>

<%@ Register Assembly="SankaWebAppFramework" Namespace="DialogMessage" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style2
        {
        }
        .style3
        {
            width: 30px;
            text-align: center;
        }
        td
        {
            vertical-align: top;
        }
        .style4
        {
            width: 42px;
            height: 31px;
        }
        .style5
        {
            height: 31px;
        }
        .style6
        {
            width: 42px;
        }
    </style>
    <style type="text/css" media="print">
        .print
        {
            display: none;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnReturn" runat="server" OnClick="btnReturn_Click" Text="بازگشت"
        CssClass="print" />
    <asp:MultiView runat="server" ID="MultiView1" ActiveViewIndex="0">
        <asp:View ID="View1" runat="server">
            <center>
                <div id="divPanel" style="font-family: B Nazanin; font-size: 14pt">
                    <table>
                        <tr>
                            <td>
                                سه ماهه :
                                <asp:DropDownList ID="ddlSession" runat="server">
                                    <asp:ListItem Value="1">اول</asp:ListItem>
                                    <asp:ListItem Value="2">دوم</asp:ListItem>
                                    <asp:ListItem Value="3">سوم</asp:ListItem>
                                    <asp:ListItem Value="4">چهارم</asp:ListItem>
                                </asp:DropDownList>
                            </td>
                            <td>
                                سال : &nbsp;
                                <asp:DropDownList ID="ddlYear" runat="server">
                                </asp:DropDownList>
                            </td>
                            <td>
                                هیئت
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlBoard" runat="server" />
                            </td>
                            <td>
                                <asp:Button ID="btnGenerateReport" runat="server" OnClick="btnGenerateReport_Click"
                                    Text="تولید گزارش" />
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </asp:View>
        <asp:View ID="View2" runat="server">
            <div class="print">
                <asp:Button ID="btnPrint" UseSubmitBehavior="false" OnClientClick="window.print();return false"
                    runat="server" Text="چاپ" Style="cursor: pointer" />
                &nbsp;<asp:Button ID="btnBack" runat="server" OnClick="btnBack_Click" Text="تولید گزارش مجدد" />
            </div>
            <center>
                <asp:Label runat="server" ID="lblTitle" Style="direction: rtl; font-weight: bold"></asp:Label>
                <strong>
                    <table id="tblTable1" runat="server" border="1" style="width: 100%">
                        <tr>
                            <td colspan="3" runat="server" id="tdBoardTitle" style="text-align: center">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <b>ردیف</b> <strong>عنوان مجازات / برائت </strong>
                            </td>
                            <td class="style3" style="text-align: center;">
                                <b>فراوانی</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                <strong>بند الف</strong>
                            </td>
                            <td class="style2" style="text-align: right;">
                                <strong>اخطار کتبی بدون درج در پرونده استخدامی </strong>
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style4" style="text-align: center;">
                                بند ب
                            </td>
                            <td class="style5" style="text-align: right;">
                                <strong>توبیخ کتبی با درج در پرونده استخدامی</strong>
                            </td>
                            <td class="style5" style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ج
                            </td>
                            <td class="style2" style="text-align: right;">
                                کسر حقوق و فوق العاده شغل ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند د
                            </td>
                            <td class="style2" style="text-align: right;">
                                انفصال موقت از یکماه تا یک سال
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ه
                            </td>
                            <td class="style2" style="text-align: right;">
                                تغییر محل جغرافیایی خدمت به مدت یک یا ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند و
                            </td>
                            <td class="style2" style="text-align: right;">
                                تنزل مقام&nbsp; و یا محرومیت از انتساب به پستهای ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ز
                            </td>
                            <td class="style2" style="text-align: right;">
                                تنزل یک یا دو گروه و یا تعویق در اعطای ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ح
                            </td>
                            <td class="style2" style="text-align: right;">
                                بازخرید خدمت در صورت ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ط
                            </td>
                            <td class="style2" style="text-align: right;">
                                بازنشستگی ...
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ی
                            </td>
                            <td class="style2" style="text-align: right;">
                                اخراج از دستگاه متبوع
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                                بند ک
                            </td>
                            <td class="style2" style="text-align: right;">
                                انفصال دائم از خدمات دولتی
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                            </td>
                            <td class="style2" style="text-align: right;">
                                <strong>&nbsp;آراء برائت</strong>
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="style6" style="text-align: center;">
                            </td>
                            <td class="style2" style="text-align: center;">
                                جمع
                            </td>
                            <td style="text-align: center; font-weight: bold">
                                0
                            </td>
                        </tr>
                    </table>
                </strong>
            </center>
        </asp:View>
    </asp:MultiView>
    <cc1:SankaDialog ID="SankaDialog1" runat="server">
    </cc1:SankaDialog>
</asp:Content>
