﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MessagingSample.aspx.cs"
    Inherits="SankaWebAppFramework.MessageTest" %>

<%@ Register Assembly="SankaWebAppFramework" Namespace="DialogMessage" TagPrefix="Sanka" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="notification-area" runat="server" id="fgvsdfgfgdfssdf">
    </div>
    <div>
        <Sanka:SankaDialog runat="server" MessageLocationID="fgvsdfgfgdfssdf" ClientIDMode="Static"
            ID="MessageDialog">
        </Sanka:SankaDialog>
    </div>
    <asp:Button ID="Button1" runat="server" Text="نمایش پیام در تگ دیو" OnClick="Button1_Click" />
    </form>
</body>
</html>
