﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="SankaWebAppFramework.site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="SankaWebAppFramework" Namespace="DialogMessage" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <link href="/css/graphic.css" rel="stylesheet" type="text/css" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/superfish.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/hoverIntent.js" type="text/javascript"></script>
    <script src="/js/superfish.js" type="text/javascript"></script>
    <script src="/js/site.js" type="text/javascript"></script>
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <script src="screen_locker/js/uilock.js" type="text/javascript"></script>
    <link href="../calendar/css/persianDatepicker-dark.css" rel="stylesheet" type="text/css" />
    <link href="../calendar/css/persianDatepicker-default.css" rel="stylesheet" type="text/css" />
    <script src="../calendar/js/persianDatepicker.js" type="text/javascript"></script>
    <script src="../calendar/js/persianDatepicker.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="master">
        <form id="form1" runat="server">
        <div class="topsection">
            <div class="header">
            </div>
            <div class="topmenu">
                <div class="menu_container">
                    <asp:Panel ID="pnlMenus" Height="45" runat="server">
                    </asp:Panel>
                </div>
                <div class="login_info">
                    <!--span>اطلاعات ورود</span-->
                    <asp:Label ID="lblLoginInfo" CssClass="lbl_login_info" runat="server" Text=""></asp:Label>
                    <a href="/Login.aspx" runat="server" class="lnkLogin" id="lnkLogin" visible="false">
                        ورود</a>
                    <asp:ImageButton OnClientClick="RemoveCookie('returnurl')" data-sankatooltip="برای خروج کلیک نمایید"
                        ID="ibtnLogOut" CssClass="ibtnLogOut" ToolTip="خروج" ImageUrl="/images/logout.png"
                        OnClick="ibtnLogOut_Click" runat="server" Visible="false" />
                </div>
            </div>
            <div class="title_container">
                <h3 class="pagetitle">
                    <asp:Label ID="lblPageTitle" runat="server" Text="کاربر گرامی، به سامانه ی رسیدگی به تخلفات اداری وزارت آموزش و پرورش خوش آمدید"></asp:Label>
                </h3>
                <div class="searchbox">
                    <!-- جستجو-->
                </div>
            </div>
            <div class="notification-area" runat="server" id="divMessage">
            </div>
        </div>
        <div class="middlesection">
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <div class="bottomsection">
            <div class="footer">
                تمامی حقوق این سامانه متعلق به وزارت آموزش وپرورش کشور است - 1393
            </div>
        </div>
        </form>
    </div>
    <div id="notification_dialog" style="display: none">
    </div>
</body>
</html>
