﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCSankaEditor.ascx.cs"
    Inherits="SankaEditor.UCSankaEditor" %>
<div>
    <%--<span id="sanka_basic_modal"><a href="/sankaeditor/FileManager.aspx?ReturnUrlTo=ckDescription&SelectType=1"
        target="_blank" data-sankatooltip="انتخاب فایل" data-title="انتخاب فایل"
        data-duplicatetitle="false" data-width="900" data-height="600" class='basic'>انتخاب
        فایل</a> </span>--%>
    <asp:TextBox ID="ckDescription" runat="server" TextMode="MultiLine"></asp:TextBox>
</div>
