﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCActionMenu.ascx.cs"
    Inherits= "SankaWebAppFramework.UCActionMenu" %>
<div class="a-m-container" style="z-index:10000">
    <asp:PlaceHolder ID="phMenuContainer" EnableViewState="true" runat="server"></asp:PlaceHolder>
</div>
